<meta name="viewport" content="width=device-width, initial-scale=1">
<% provide(:title, "Home") %>

<div class="container">
	<div class="jumbotron">
<h1> One Mans Trash...</h1>



  <h2>...is another mans treasure!</h2>

  </div>


	<h3>“Many laws protecting environmental quality have promoted liberty by securing property against the destructive trespass of pollution” — Ronald Reagan</h3>

	<p>
		What's the best, most enviromentally safe method of recycling? Re-use! Why throw things away when other people can use them? When you see something getting thrown away that looks usable, list it on here!
	</p>
	

	

</p>

<h1>
Here's what you do:
</h1>

<ul>
	<li>List the City and State</li>
	<li>List the Street name (no adresses!)</li>
	<li>list the item and condition of the object</li>

	<p>
	That's it! you've just helped the Earth and your fellow man!
	</p>  

</div>
