<header class="navbar navbar-fixed-top navbar-inverse">
  
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Electronics",   electronics_path %></li>
        <li><%= link_to "Furniture",   furniture_path %></li>
        <li><%= link_to "Garage Sales",   garage_sales_path %></li>
    </nav>
  </div>
</header>